:root{
    --text: #F2F2F3;
    --background: #101014;
}
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 600px;
    margin: 0 auto;
}
body, .btn{
    font-family: sans-serif;
    color: var(--text);
    background-color: var(--background) !important;
}
#top{
    display: flex;
    gap: 2em;
    margin: 0 auto;
}
.input-group{
    flex-wrap: nowrap;
}
.btn:hover{
    color: #BBD8EC;
}
.container-fluid{
    background-color: var(--background) !important;
}
#notification{
    text-align: center;
    height: 1em;
}
.weather-header{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#city{
    display: flex;
    margin: 0 20px;
    align-items: center;
    gap: 10px;
}
.search{
    margin: 0;
}
.weather-search{
    border: 1px solid var(--text);
    border-radius: 10px 0 0 10px !important;
    padding-left: 10px;
}
.search-button{
    border: 1px solid var(--white);
    border-radius: 0 10px 10px 0 !important;
}
.card{
    width: 310px;
    background: #1B1A1D;
    border-radius: 20px;
    border: none;
}
.today{
    background-color: #BBD8EC;
    color: #000;
}
#history{
    display: flex;
    flex-direction: column;
}
.history_item{
    background-color: #1B1A1D;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.history_item:hover{
    color: #000;
    background-color: #BBD8EC;
}
.darker{
    filter: brightness(0.9);
}
h1{
    font-weight: 700;
    font-size: 4.8em;
}
.weather_header{
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    border-radius: 20px 20px 0px 0px;
    font-weight: 600;
    font-size: 1.5em;
    padding: 10px;
}
.card_body{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    padding: 0 10px;
    margin: 10px;
}
.card-img-top{
    background-color: #1B1A1D;
    height: 100px;
    object-fit: contain;
    border-radius: 20px;
}
.row{
    margin: 0 auto;
}
#forecast{
    display: flex;
    gap: 1em;
}
.forecast{
    width: 100px;
    text-align: center;
}
.forecast_icon{
    width: 100%;
}
.right{
    text-align: right;
}
@media only screen and (max-width: 800px) {
    .weather-header {
        flex-direction: column;
    }
    #top{
        gap: 0;
        flex-direction: column;
    }
    #history{
        flex-direction: row;
        gap: 0.5em;
        justify-content: center;
    }
    .history_item{
        margin: 0;
        padding: 2px;
        background: none;
        border: none;
    }
    #forecast{
        gap: 0.1em;
    }
    .forecast{
        width: 70px;
    }
  }